@font-face {
  font-family: 'icomoon';
  src:  url('../../lib/fonts/icomoon/icomoon.eot?r1z0dd');
  src:  url('../../lib/fonts/icomoon/icomoon.eot?r1z0dd#iefix') format('embedded-opentype'),
    url('../../lib/fonts/icomoon/icomoon.ttf?r1z0dd') format('truetype'),
    url('../../lib/fonts/icomoon/icomoon.woff?r1z0dd') format('woff'),
    url('../../lib/fonts/icomoon/icomoon.svg?r1z0dd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
  content: "\e900";
}
.icon-bottom:before {
  content: "\e901";
}
.icon-confirm:before {
  content: "\e902";
}
.icon-data-doc:before {
  content: "\e903";
}
.icon-db:before {
  content: "\e904";
}
.icon-delete2:before {
  content: "\e905";
}
.icon-export:before {
  content: "\e906";
}
.icon-folder_open:before {
  content: "\e907";
}
.icon-folder-close:before {
  content: "\e908";
}
.icon-full-view:before {
  content: "\e909";
}
.icon-info:before {
  content: "\e90a";
}
.icon-list-close:before {
  content: "\e90b";
}
.icon-list-open:before {
  content: "\e90c";
}
.icon-map-area:before {
  content: "\e90d";
}
.icon-map-doc:before {
  content: "\e90e";
}
.icon-map-info2:before {
  content: "\e90f";
}
.icon-map-out:before {
  content: "\e910";
}
.icon-menu:before {
  content: "\e911";
}
.icon-metadata:before {
  content: "\e912";
}
.icon-newtile:before {
  content: "\e913";
}
.icon-popup:before {
  content: "\e914";
}
.icon-push:before {
  content: "\e915";
}
.icon-reload:before {
  content: "\e916";
}
.icon-search:before {
  content: "\e917";
}
.icon-setting:before {
  content: "\e918";
}
.icon-style:before {
  content: "\e919";
}
.icon-top2:before {
  content: "\e91a";
}
.icon-top-close:before {
  content: "\e91b";
}
.icon-user2:before {
  content: "\e91c";
}
.icon-writer:before {
  content: "\e91d";
}
.icon-zoom:before {
  content: "\e91e";
}
.icon-chart:before {
  content: "\e91f";
}
.icon-content-page:before {
  content: "\e920";
}
.icon-content-scroll:before {
  content: "\e921";
}
.icon-content-sync:before {
  content: "\e922";
}
.icon-content-tab:before {
  content: "\e923";
}
.icon-content-tour:before {
  content: "\e924";
}
.icon-doc:before {
  content: "\e925";
}
.icon-down:before {
  content: "\e926";
}
.icon-download:before {
  content: "\e927";
}
.icon-folder:before {
  content: "\e928";
}
.icon-map-line:before {
  content: "\e92b";
}
.icon-map-rect:before {
  content: "\e92c";
}
.icon-map-view:before {
  content: "\e92d";
}
.icon-map-zoomin:before {
  content: "\e92e";
}
.icon-map-zoomout:before {
  content: "\e92f";
}
.icon-member:before {
  content: "\e930";
}
.icon-meta:before {
  content: "\e931";
}
.icon-new:before {
  content: "\e932";
}
.icon-new-tile:before {
  content: "\e933";
}
.icon-open:before {
  content: "\e934";
}
.icon-content-map:before {
  content: "\e929";
}
.icon-check:before {
  content: "\e92a";
}
.icon-content-dash:before {
  content: "\e935";
}
.icon-content-gallery:before {
  content: "\e936";
}
.icon-folder-open:before {
  content: "\e937";
}
.icon-line:before {
  content: "\e938";
}
.icon-list:before {
  content: "\e939";
}
.icon-map:before {
  content: "\e93a";
}
.icon-map-info:before {
  content: "\e93b";
}
.icon-point:before {
  content: "\e93c";
}
.icon-polygon:before {
  content: "\e93d";
}
.icon-refresh:before {
  content: "\e93e";
}
.icon-remove:before {
  content: "\e93f";
}
.icon-save:before {
  content: "\e940";
}
.icon-share:before {
  content: "\e941";
}
.icon-top:before {
  content: "\e942";
}
.icon-total-view:before {
  content: "\e943";
}
.icon-up:before {
  content: "\e944";
}
.icon-upload:before {
  content: "\e945";
}
.icon-user:before {
  content: "\e946";
}
.icon-view:before {
  content: "\e947";
}
.icon-arrow-left:before {
  content: "\e948";
}
.icon-basemap:before {
  content: "\e949";
}
.icon-bookmark:before {
  content: "\e94a";
}
.icon-close:before {
  content: "\e94b";
}
.icon-data:before {
  content: "\e94c";
}
.icon-image:before {
  content: "\e94d";
}
.icon-legend:before {
  content: "\e94e";
}
.icon-link:before {
  content: "\e94f";
}
.icon-lock:before {
  content: "\e950";
}
.icon-marker:before {
  content: "\e951";
}
.icon-pc:before {
  content: "\e952";
}
.icon-pop-info:before {
  content: "\e953";
}
.icon-resize:before {
  content: "\e954";
}
.icon-space:before {
  content: "\e955";
}
.icon-text:before {
  content: "\e956";
}
.icon-unlock:before {
  content: "\e957";
}
.icon-map-3dMap:before {
  content: "\f0ac";
}
